/*==============================
=            Header            =
==============================*/

header.site-header {
	padding-top: 2rem;
	margin-bottom: 2rem;

	.site-branding {
		padding: 0;

		img.site-logo {
			max-width: 90%;
		}
	}

	.header-ttIndex {
		align-self: flex-end;
		text-align: right;
		@include fontSize(12px);
		line-height: 1.5;
		color: $gray;
		padding-left: 10%;
	}

	/*----------  Navigation: Main Menu  ----------*/
	
	nav.main-navigation {
		padding-top: 2rem;
		padding-bottom: 1rem;

		.menu-main-container {
			padding: 0;
		}

		ul#primary-menu {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 5%;

				&.home {
					margin-right: 3%;
				}

				.menu-description {
					text-transform: uppercase;
					color: $dark-gray;
					letter-spacing: 0.5px;
				}

				a {
					font-weight: bold;
					text-decoration: none;
					color: $dark-gray;
					text-transform: uppercase;
					letter-spacing: 0.5px;

					&:hover {
						color: $bright-green;
					}
				}
			}
		}

		.nav-social {
			padding: 0;
			text-align: right;

			a {
				color: $dark-gray;

				&:hover {
					color: $bright-green;
				}
			}

			i.icon {
				@include fontSize(16px);
			}
		}
	}

	nav.secondary-navigation {
		background-color: $light-gray;
		padding: 0.8rem;

		.menu-categories-menu-container {
			padding: 0;
		}

		ul#secondary-menu {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 5%;

				a {
					text-decoration: none;
					color: $dark-gray;
					text-transform: uppercase;
					letter-spacing: 0.4px;
					@include fontSize(13px);
				}
			}
		}

		.nav-searchIconContainer {
			text-align: right;
			padding: 0;
		}
	}
}

