/*==============================
=            Header            =
==============================*/

header.site-header {
	.site-branding {

		img.site-logo {
			max-width: 90%;
		}
	}

	.header-ttIndex {
		align-self: flex-end;
		text-align: right;
	}
}

