// Rem output with px fallback
$browser-context: 16px;
@function calculateRem($size) {
  $remSize: $size / $browser-context;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Breakpoint
@mixin breakpoint($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}