@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

@use 'sass:math';

/*=================================
=            Home Page            =
=================================*/

.home-container {

	/*----------  Featured Post  ----------*/
	.content-wrapper article.post:first-of-type {
		@include breakpoint("large") {
			.post-thumbnailContainer img {
				max-height: 300px;
				object-fit: cover;
			}

			.entry-title {
				font-size: 1.75rem;
			}

			.entry-content {
				font-size: 1.2rem;
			}
		}
	}

	/*----------  The Latest  ----------*/
	.home-latestContainer {
		@include breakpoint("medium") {
			padding-right: 1rem;
		}

		.latest-title {
			margin: 0;
			overflow: hidden;
			color: $gray;
			font-weight: normal;
			text-transform: uppercase;
			@include fontSize(20px);

			span {
				position: relative;
				display: inline-block;

				&::after {
					position: absolute;
					top: 50%;
					left: 100%;
					width: 800px;
					height: 5px;
					margin-top: math.floor(calc(-5px / 2));
					margin-left: 15px;
					border-top: 1px solid $latest-decoration-gray;
					border-bottom: 1px solid $latest-decoration-gray;
					content: "";
				}
			}
		}

		.latest-titleDecoration {
			display: inline-block;
			width: 54%;
			height: 5px;
			margin-left: 4.5%;
			vertical-align: middle;
			border-top: 1px solid $latest-decoration-gray;
			border-bottom: 1px solid $latest-decoration-gray;
		}

		article.post {
			margin-top: 0.75rem;
			margin-bottom: 0;
			padding-bottom: 0.75rem;
			border-bottom: 2px solid $archive-filter-gray;

			@include breakpoint("medium") {
				margin-top: 1.5rem;
				padding-bottom: 1.5rem;
			}

			&:last-of-type {
				border-bottom: 0;
			}

			header.entry-header .entry-title {
				@include fontSize(18.5px);

				a {
					color: $black;

					&:hover {
						color: $bright-green;
					}
				}
			}
		}
	}

	/*----------  Secondary Features  ----------*/
	// Post styles in _posts.scss
	.home-secondaryFeaturesContainer {
		@include breakpoint("medium") {
			padding-left: 1rem;
		}
	}

	/*----------  Series  ----------*/
	.home-seriesContainer {
		margin-top: 1rem;
		background-color: $light-gray;

		.home-seriesSpotlight {
			padding: 2rem 1rem;

			@include breakpoint("medium") {
				padding: 2rem 1rem 2rem 0;
			}

			.series-featuredTitle {
				margin: 0.25rem 0 1rem;
				font-family: $font__ExpoSerif;
				font-weight: 600;
				@include fontSize(24px);

				a {
					color: $black;

					&:hover {
						color: $bright-green;
					}
				}
			}

			p {
				@include fontSize(14px);
			}
		}

		.home-seriesAdditional {
			align-self: center;
			padding: 1rem 1rem 2rem;

			@include breakpoint("medium") {
				padding: 2rem 1rem;
			}

			.series-additionalTitle {
				margin: 0.5rem 0 0;
				font-family: $font__ExpoSerif;
				font-weight: 600;
				@include fontSize(18px);

				a {
					color: $black;

					&:hover {
						color: $bright-green;
					}
				}
			}

			p {
				margin-bottom: 1rem;
				color: $dark-gray;
				@include fontSize(12px);
			}

			.series-exploreMore {
				display: inline-block;
				padding: 0.5rem 3rem;
				color: $light-gray;
				text-transform: uppercase;
				background-color: $dark-green;
				@include fontSize(13px);

				&:hover {
					color: $white;
				}
			}

		}

		.home-seriesFeaturedImage {
			min-height: 150px;
			padding: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}

		.series-sectionTitle,
		.series-learnMore {
			margin: 0;
			color: $dark-green;
			font-weight: normal;
			font-style: normal;
			text-transform: uppercase;
			@include fontSize(15px);
		}

		.series-learnMore:hover {
			color: $bright-green;
		}

	}
}

/*----------  Footer  ----------*/
body.home .site-footer {
	margin-top: 0;
}