@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

/*====================================
=            Interactives            =
====================================*/

/*----------  Single Interactive Post  ----------*/
.single-interactives {
	.entry-title {display: none;}

	.fullWidthFeatureContent {
		position: relative;
		right: 50%;
		left: 50%;
		width: 100vw;
		margin-right: -50vw;
		margin-left: -50vw;
		text-align: center;
	}
}

/*----------  Interactive Embed  ----------*/
.interactive-fallbackImg ~ .interactive-iframe {
	display: none;

	@include breakpoint("medium") {
		display: inline;
	}
}

.interactive-fallbackImg {
	@include breakpoint("medium") {
		display: none;
	}

	p {
		@include fontSize(14px);
		font-style: italic;
	}
}
