@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

/*======================================
=            Series Archive            =
======================================*/
.page-series {
	header.page-header {
		margin-bottom: 2rem;

		.page-title {
			font-family: $font__ExpoSerif;
			@include fontSize(28px);
			font-weight: 600;
			color: $black;
			text-align: center;
		}

		p {
			@include fontSize(14px);
		}
	}

	/*----------  Posts  ----------*/
	article.post {
		margin-bottom: 2rem;

		@include breakpoint("medium") {
			border-bottom: 2px solid $archive-filter-gray;
			padding-bottom: 2rem;
		}

		&:last-of-type {
			border-bottom: 0;
		}
		.entry-header .entry-title {
			@include fontSize(24px);
		}
	}
}