@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

/*==============================
=            Footer            =
==============================*/

footer.site-footer {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 3rem;
	padding-top: 3rem;
	color: $color__text-light;
	background-color: $dark-green;
	border-top: 2px solid $light-gray;

	.footer-logoContainer {
		margin-bottom: 0.5rem;

		@include breakpoint("medium") {
			img {
				max-width: 45%;
			}
		}
	}

	.footer-infoContainer p {
		max-width: 90%;
		margin-top: 0;
		@include fontSize(14px);
	}

	.footer-contactInfo {
		@include fontSize(14px);
		
		h3 {
			margin: 0;
			font-weight: bold;
			text-transform: uppercase;
			@include fontSize(14px);
		}

		address {
			margin: 0;
			font-style: normal;
			@include fontSize(14px);
		}

		a {
			color: $color__text-light;

			&:hover {
				color: $bright-green;
			}
		}

		i.icon {
			@include fontSize(16px);
		}

	}

	.footer-copyright {
		margin-top: 3rem;
		padding: 0.5rem;
		color: $color__text-copyright;
		background-color: $light-gray;
		@include fontSize(12px);
	}
}
