@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;
@use 'vendors/fontello/fontello' as *;

/*==============================
=            Header            =
==============================*/

header.site-header {
	position: relative;
	z-index: 50;
	width: 100%;
	margin-bottom: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $dark-green;

	@include breakpoint("medium") {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding-bottom: initial;
		transition: all 0.3s ease-in-out;

		&.scrolled {
			padding: 0;

			.header-wrapper {
				display: flex;
				align-items: center;
				width: 100%;
				max-width: $size__container-max-width;
				margin: 0 auto;
				padding: .5rem 0;

				>.content-wrapper {
					display: block;
					flex: auto;
					margin: 0;
				}
			}

			.site-branding {
				max-width: fit-content;

				img.site-logo {
					max-height: 45px;
				}
			}

			nav.main-navigation {
				padding-top: 0;

				.content-wrapper {
					flex-wrap: nowrap;
				}

				ul#primary-menu li:last-child {
					display: none !important;
				}
			}

			.secondary-navigation,
			.header-ttIndex {
				display: none;
			}

			.header-searchFormContainer {
				top: calc(100% - 54px);
				padding: 0.9rem 0.5rem;
			}
		}
	}

	@include breakpoint("large") {
		&.scrolled {
			nav.main-navigation {
				ul#primary-menu {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				ul#primary-menu li:nth-child(-n+4):not(.home) {
					margin-right: 0;
				}

				ul#primary-menu li:last-child {
					display: inline-block !important;
				}
			}
		}
	}

	&.nav-down {
		position: fixed;
		top: 0;
	}

	&.nav-up {
		position: fixed;
		top: -101px;

		@include breakpoint("medium") {
			top: 0;
		}
	}

	* {
		transition: all 0.3s ease-in-out;
	}

	.site-branding {
		padding: 0;
		text-align: center;
		transition: all 0.3s ease-in-out;

		@include breakpoint("medium") {
			max-height: 100%;
			margin-left: 0;
			text-align: left;
		}

		img.site-logo {
			max-width: 90%;
			max-height: 60px;
			transition: all 0.3s ease-in-out;
		}
	}

	.header-ttIndex {
		align-self: flex-end;
		padding-left: 17%;
		color: $color__text-light;
		line-height: 1.5;
		text-align: right;
		@include fontSize(13px);
	}

	.header-mobileContainer,
	.header-searchContainer {
		justify-content: center;
		align-self: center;
		@include fontSize(25px);
		color: $color__text-light;
		cursor: pointer;

		.close-icon {
				&::before,
				&::after {
					background-color: $light-gray;
				}
			}
	}

	/*----------  Navigation  ----------*/
	.navigation-container {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		overflow: hidden;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.3s ease;

		@include breakpoint("medium") {
			position: initial;
			transform: none;
			transition: none;
		}

		&.active {
			transform: scaleY(1);
		}
	}


	/*----------  Navigation: Main Menu  ----------*/

	nav.main-navigation {
		padding-top: 1rem;
		padding-bottom: 0;
		transform: translateX(0);
		transition: all 0.3s ease-in-out;

		.content-wrapper {
			width: 100%;
			max-width: 100%;
			padding: 0;
			transition: all 0.3s ease-in-out;

			@include breakpoint("medium") {
				max-width: $size__container-max-width;
				margin: 0 auto;
				padding: 0 1rem;
			}

			@include breakpoint($size__container-max-width) {
				padding: 0;
			}
		}

		.menu-main-container {
			padding: 0;
		}

		ul#primary-menu {
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 0;
				text-align: center;
				@include fontSize(16px);

				// Apply styles to all list items at medium breakpoint
				@include breakpoint("medium") {
					top: 0 !important;
					display: inline-block !important;
					width: auto !important;
					margin-right: 5%;
					text-align: left !important;
					border: 0 !important;
					@include fontSize(17px);
				}

				&.home {
					display: none;

					@include breakpoint("medium") {
						display: inline;
						margin-right: 3%;
					}
				}

				// First 4 Menu Items
				&:nth-child(-n+4):not(.home) {
					display: inline-block;
					width: 32%;
					margin: 0;
					padding: 0.25rem 0;
					border-left: 1px solid $color__navigation-border;

					@include breakpoint("medium") {
						margin-right: 5%;
					}
				}

				// Second Menu Item
				&:nth-child(2) {
					border: 0 !important;
				}

				// All Other Menu Items
				&:not(:nth-child(-n+4)) {
					position: relative;
					top: 220px;
					display: block;
					padding: 0.5rem 0;
					border-bottom: 1px solid $color__navigation-border;
				}

				.menu-description {
					color: $color__text-light;
					letter-spacing: 0.5px;
					text-transform: uppercase;

					a {
						color: $color__text-light;
						font-weight: normal;
						letter-spacing: 0.5px;
					}
				}

				a {
					color: $color__text-light;
					font-weight: 600;
					letter-spacing: 0.04em;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						color: $bright-green;
					}
				}
			}
		}

		.nav-searchIconContainer {
			padding: 0;
			text-align: right;

			// desktop only
			.icon-search {
				@include fontSize(14px);
						color: $color__text-light;

				&:hover {
					color: $bright-green;
					cursor: pointer;
				}
			}
		}
	}

	/*----------  Navigation: Secondary Menu  ----------*/

	nav.secondary-navigation {
		position: relative;
		top: -65px;
		background-color: $light-gray;
		transition: all 0.3s ease;

		@include breakpoint("medium") {
			top: 0;
			display: block;
			padding: 0.5rem 1rem 0.7rem;
		}

		.content-wrapper {
			width: 100%;
			max-width: 100%;
			padding: 0;

			@include breakpoint("medium") {
				max-width: $size__container-max-width;
				margin: 0 auto;
			}

			@include breakpoint($size__container-max-width) {
				padding: 0;
			}
		}

		.menu-categories-menu-container {
			padding: 0;
		}

		ul#secondary-menu {
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: block;
				margin: 0;
				padding: 0.5rem 0;
				text-align: center;
				background-color: $light-gray;
				border-bottom: 1px solid $color__navigation-border;

				a {
					color: $dark-gray;
					font-weight: normal;
					letter-spacing: 0.06em;
					text-transform: uppercase;
					@include fontSize(16px);

					&:hover {
						color: $bright-green;
					}
				}

				@include breakpoint("medium") {
					display: inline-block;
					margin-right: 5%;
					padding: 0;
					text-align: left;
					border: 0;
				}
			}
		}
	}

	/*----------  Mobile Menu Styles  ----------*/
	&.menu-mobile-active {
		height: 100vh;

		.navigation-container {
			position: relative;
			top: 0;
			max-height: none;
			transform: none;
		}
	}

	.close-icon {
		display: none;
	}

	/*----------  Navigation: Social Media  ----------*/
	.nav-social {
		padding: 1rem 0;
		text-align: center;

		@include breakpoint("medium") {
			padding: 0;
			text-align: right;
		}

		a {
			color: $color__text-light;

			&:hover {
				color: $bright-green;
			}

			@include breakpoint("medium") {
				color: $dark-gray;
			}
		}

		i.icon {
			@include fontSize(32px);
			margin: 0 1rem;

			@include breakpoint("medium") {
				@include fontSize(16px);
				margin: initial;
			}
		}
	}

	/*----------  Search Form  ----------*/
	.header-searchFormContainer {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		width: 100%;
		margin-top: 0;
		padding: 1rem 0.5rem;
		background-color: $black;
		transform: translateY(-10px);
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

		@include breakpoint("medium") {
			position: absolute;
			top: calc(100% - 85px);
			padding: 0.3rem 0.5rem 0.6rem;
		}

		&.active {
			transform: translateY(0);
			visibility: visible;
			opacity: 1;
		}

		.header-searchForm {
			.header-searchInputContainer {
				padding: 0;
			}

			.search-form {
				border-bottom: 1px solid $search-gray;
			}

			.search-field {
				width: 94%;
				color: $search-gray;
				line-height: 1;
				text-transform: uppercase;
				background-color: transparent;
				border: 0;
				border-radius: 0;
				appearance: textfield;
				@include fontSize(14px);

				&:focus {
					color: $light-gray;
					outline: none;
					box-shadow: none;
				}
			}

			.search-submit {
				width: 4%;
				margin: 0;
				padding: 0;
				color: $light-gray;
				font-family: "fontello";
				line-height: 1;
				text-align: right;
				background-color: transparent;
				border: 0;
				border-radius: 0;
				@include fontSize(14px);
			}

			.search-closeContainer {
				padding: 0;
				text-align: right;

				.close-icon {
					top: 3px;
					display: inline-block;
					width: 15px;
					height: 15px;

					&::before,
					&::after {
						background-color: $light-gray;
					}
				}
			}
		}
	}
}