/*!
Editor styles for TinyMCE editor
*/

@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/normalize";
@import "base/typography";


// Headings
h1 { @extend %h1 }
h2 { @extend %h2 }
h3 { @extend %h3 }
h4 { @extend %h4 }

// Download Button
.download {
	background-color: $dark-green;
	color: $light-gray;
	text-transform: uppercase;
	@include fontSize(13px);
	padding: 0.5rem 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: inline-block;

	a {
		color: $light-gray;
	}
}