/*=============================
=            Posts            =
=============================*/

/*----------  Single Posts  ----------*/
.single-post article.post {
	header.entry-header {
		text-align: center;
		margin-bottom: 2rem;
	}
}

/*----------  Global Post Styles  ----------*/
article.post {
	margin-bottom: 3rem;

	/*----------  Post Header  ----------*/
	header.entry-header {

		.post-contentCategoriesContainer {
			text-transform: uppercase;
			@include fontSize(12px);
			color: $gray;

			.post-contentType {
				a {
					text-decoration: none;
					color: $gray;
				}
			}

			.post-categories {
				a {
					text-decoration: none;
					color: $bright-green;
				}
			}
		}

		.entry-title {
			font-family: $font__SourceSans;
			@include fontSize(28px);
			font-weight: 600;
			line-height: 1.18;
			color: $black;
			margin: 0.25rem 0 0 0;
		}

		img {
			width: 100%;
			height: auto;
			margin-top: 2rem;
		}

		.post-series {
			color: $gray;
			@include fontSize(20px);

			a {
				color: $gray;
				text-decoration: none;
			}
		}
	}

	/*----------  Post Meta  ----------*/
	.entry-meta {
		margin-top: 0.5rem;
		@include fontSize(12px);

		a {
			text-decoration: none;
			color: $gray;
		}

		.posted-on {
			color: $bright-green;
		}
	}

	/*----------  Post Authors  ----------*/
	.post-authorContainer {
		background-color: $light-gray;
		padding: 1rem;

		img {
			width: 100%;
			height: auto;
			max-width: 100px;
		}
	}

	/*----------  Post Thumbnails  ----------*/
	.post-thumbnailContainer {
		img {
			width: 100%;
			height: auto;
		}
	}

}