@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;
@use "sass:color";

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.link-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 3rem;
  color: $light-gray;
  text-transform: uppercase;
  background-color: $color__background-button;
  border: 0;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  @include fontSize(14px);

  &:visited {
    color: $light-gray;
  }

  &:hover {
    color: $white;
    background-color: color.adjust($color__background-button, $lightness: -10%);
  }
}
