@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

.wp-caption {
	max-width: 100%;
	margin-bottom: 1.5em;

	img[class*="wp-image-"] {
		@include center-block;
	}

	p {
		margin-bottom: 0 !important;
	}
}

.wp-caption-text {
	margin: 0.5rem 0 0 !important;
	padding-right: 25px;
	padding-left: 25px;
	text-align: left;
	@include fontSize(14px);
}
