@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

@use 'sass:math';

/*==============================================
=            Jetpack: Related Posts            =
==============================================*/

.post-relatedPostsContainer {
	margin-top:3rem;

	.relatedPosts-title {
		margin: 0 0 1rem;
		overflow: hidden;
		color: $gray;
		font-weight: normal;
		text-transform: uppercase;
		@include fontSize(20px);

		span {
			position: relative;
			display: inline-block;
			
			&::after {
			  position: absolute;
			  top: 50%;
			  left: 100%;
			  width: 800px;
			  height: 5px;
			  margin-top: math.floor(calc(-5px / 2));
		  	  margin-left: 15px;
			  border-top: 1px solid $latest-decoration-gray;
			  border-bottom: 1px solid $latest-decoration-gray;
			  content: "";
			}
		}
	}

	article.post {
		margin-bottom: 2rem;

		header.entry-header {
			margin-bottom: 0.5rem !important;
			text-align: left !important;

			.entry-title {
				@include fontSize(24px);
			}
		}
	}
}

