@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;
@use 'base/typography' as *;

table {
  width: 100%;
  margin: 0 0 2rem;

  thead {
    border-bottom: 2px solid $light-gray;
  }

  th,
  td {
    padding: 0.5em 0.75em;
  }
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: $light-gray;
}

.series-defense-acquisition-almanac {
  table {
    margin-bottom: 4rem;
  }

  td:first-of-type {
    @include breakpoint("medium") {
      width: 25%;
    }
  }
}
