/*=====================================
=            WP DataTables            =
=====================================*/

/*----------  Form Elements  ----------*/
.wpDataTablesWrapper {
	label {
		font-weight: normal !important;
		font-size: 14px;
		margin-bottom: 0 !important;
	}
}

.wpdt-c {
	text-align: center;
}

.wpDataTableFilterBox {
	@include breakpoint("medium") {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
        justify-content: flex-start;
	}
}

.wpdt-c .form-control {
	font-size: 16px !important;
}

.wpdt-c::before {
	content: "FILTER TABLE DATA";
	font-size: 12px;
	font-weight: 600;
}

.wpdt-c .data-t {
	border-top: 1px #E7E7E7 solid !important;
	border-bottom: 1px #E7E7E7 solid !important;
	margin-top: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.wpDataTablesFilter .wpDataTableFilterSection:not(#wdt-clear-filters-button-block):not(#wdt-cf-search-filters-button-block) {
	float: none !important;
	width: unset !important;
	min-height: unset !important;
	margin-bottom: 1rem !important;
	margin-right: 0 !important;
	padding: 0 1rem !important;
	text-align: left;

	@include breakpoint("medium") {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
		max-width: 25%;
	}

}

.wpDataTablesFilter .wpDataTableFilterSection {
	div {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 100px);
		margin-left: 0.5rem;

		@include breakpoint("medium") {
			display: block;
			width: unset;
			margin-left: 0;
		}
	}
	label {
		width: 78px;
		text-align: right;

		@include breakpoint("medium"){
			width: unset;
		}
	}
}

.wpDataTablesFilter .wpDataTableFilterSection .form-control {
  	border: 2px solid #E7E7E7 !important;
	padding-left: 7px !important;
}

::-webkit-input-placeholder {
   font-style: italic;
	 font-weight: lighter;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.wpDataTable thead tr th {
	color: #008e9d !important;
}

/*----------  Info  ----------*/
.wpDataTablesWrapper .dataTables_info {
	margin-top: 0 !important;
	font-size: 12px !important;
}

/*----------  Pagination  ----------*/
.wpDataTablesWrapper .paging_full_numbers {
	margin-top: 5px !important;
	line-height: 12px !important;
	height: 12px !important;

	a {
		line-height: 1 !important;
	}

	span a {
		font-size: 12px !important;
	}

	.paginate_button:before
	{
		font-size: 10px !important;
	}
}
