@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	/* Fallback for when there is no custom background color defined. */
	background: $color__background-body;

	&.menu-mobile-active {
		overflow-y: hidden;
	}
}

#content {
	margin-top: 100px;
	margin-bottom: 360px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: $color__background-body;
	box-shadow: 0 5px 8px -1px rgba(54, 96, 90, 0.5);
}

.content-wrapper {
	max-width: $size__container-max-width;
	margin: 0 auto;
	padding: 0 1rem;

	@include breakpoint($size__container-max-width) {
		padding: 0;
	}

	&.row {
		margin: 0 auto;
	}
}

.content-wrapper-narrow {
	padding: 0 1rem;

	@include breakpoint($size__content-max-width) {
		max-width: $size__content-max-width;
		margin: 0 auto;
		padding: 0;

		&.row {
			margin: 0 auto;
		}
	}
}