@use 'abstracts/variables' as *;
@use'abstracts/mixins' as *;

html {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

*,
*::before,
*::after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	height: 100%;
	margin: 0;
	/* Fallback for when there is no custom background color defined. */
	background: $color__background-body;

	&.menu-mobile-active {
		overflow-y: hidden;
	}
}

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#content {
	flex: 1;
	background: $color__background-body;

	@include breakpoint("medium") {
		padding-top: 2rem;
	}
}

.content-wrapper {
	max-width: $size__container-max-width;
	margin: 0 auto;
	padding: 0 1rem;

	@include breakpoint($size__container-max-width) {
		padding: 0;
	}

	&.row {
		margin: 0 auto;
	}
}

.content-wrapper-narrow {
	padding: 0 1rem;

	@include breakpoint($size__content-max-width) {
		max-width: $size__content-max-width;
		margin: 0 auto;
		padding: 0;

		&.row {
			margin: 0 auto;
		}
	}
}