/*!
Editor styles for TinyMCE editor
*/

@use "abstracts/variables";
@use "abstracts/mixins";
@use "base/normalize";
@use "base/typography";


// Headings
h1 { @extend %h1 }
h2 { @extend %h2 }
h3 { @extend %h3 }
h4 { @extend %h4 }

// Download Button
.download {
	background-color: variables.$dark-green;
	color: variables.$light-gray;
	text-transform: uppercase;
	@include mixins.fontSize(13px);
	padding: 0.5rem 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: inline-block;

	a {
		color: variables.$light-gray;
	}
}